
body{
    background-color: black;
}
.historia{
    background-color: gray;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 1%;
}
.componentes{
    background-color: gray;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
}
.microprocesador{
    background-color: grey;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
}
.grafica{
    background-color: gray;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
}
.mejores{
    background-color: grey;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
}
.ordenador{
    background-color: gray;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
}
.historia{
    display: flex;

}
.parrafo{
    margin-bottom: 25px;
}
.imagenes img{
    width: 250px;
}

.componentes{
    display: flex;

}
.microprocesador{
    display: flex;
}
.grafica{
    display: flex;
}
.mejores{
    display: flex;
}
.ordenador{
    display: flex;
}
.texto2{
    margin-left: 10px;
}
.texto3{
    margin-left: 10px;
}
.texto4{
    margin-left: 10px;
}
.texto5{
    margin-left: 10px;
}
.texto6{
    margin-left: 10px;
    
}
.explicaciones{
    font-size: 14px;
}



