.titulo{
font-family: 'arial black'; font-size: 36px; text-align: center;
color: rgb(174, 0, 255);
background-color: rgba(19, 15, 15, 0); 
}

.titulo_entero{
display: flex; margin-right: 25%;
}

.imagen_titulo{
display: flex;
height: 100px;
}

/* Estilo del menú */
.funciones{
display: flex; background-color: rgb(37, 37, 37); color: rgb(0, 145, 145); padding: 10px; border-radius: 10px;
}
        
.funciones li{
margin-right: 19%; list-style: none; align-self: center; font-size: 16px; text-align: center;
position: relative;
transition: transform 0.12s ease, color 0.12s ease;
transform-origin: center center;
}
        
.funciones li a:hover{
color: red;
}

