.titulo{
    display: flex;
    margin-right: 25%;
    color: aqua;
}

.opciones{
    display: flex;
    background-color: aqua;
    border-radius: 10px;   
    width: 100%;
}
.opciones li{
    margin-right: 25%;
    list-style: none;
    
}
.opciones ul li a{
    text-decoration: none;
    color:  black;
}

.opciones :hover{
    color: purple;
}
#imagen1 img{
    width: 100px;
}

.footer{
    background-color: aqua;
    
}
.footer li{
    list-style: none;
}
.footer{
    display: flex;
    padding: 40px;
    border-radius: 10px;
}
.opciones_footer{
    display: flex;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.imagenes_logos img{
    width: 90px;
    padding-left: 100px;
    
}
.imagenes_logos{
    margin-left: 500px;
}
.footer_opciones :hover{
    color: purple;
}