body{
    background-color: black;
}

.que-somos{
    background-color: gray;
    padding: 60px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.que-somos video {
    margin-left: auto; 
}

.texto {
    flex: 1; 
}

.que-somos h2 {
    margin-bottom: 20px;
    color: white;
}
.que-somos p {
    color: white;
    line-height: 1.6;
}
.que-somos h1 {
    color: white;
}